
.feature-style-6312 {
    margin: 10px;
    padding: 5px;
}

.feature-style-2329 {
    margin: 10px;
    padding: 5px;
}

.feature-style-4654 {
    margin: 10px;
    padding: 5px;
}

.feature-style-7573 {
    margin: 10px;
    padding: 5px;
}

.feature-style-8138 {
    margin: 10px;
    padding: 5px;
}

.feature-style-2792 {
    margin: 10px;
    padding: 5px;
}

.feature-style-4580 {
    margin: 10px;
    padding: 5px;
}

.feature-style-5572 {
    margin: 10px;
    padding: 5px;
}
