
.feature-style-6312 {
    margin: 10px;
    padding: 5px;
}

.feature-style-2329 {
    margin: 10px;
    padding: 5px;
}

.feature-style-4654 {
    margin: 10px;
    padding: 5px;
}

.feature-style-7573 {
    margin: 10px;
    padding: 5px;
}

.feature-style-8138 {
    margin: 10px;
    padding: 5px;
}

.feature-style-2792 {
    margin: 10px;
    padding: 5px;
}

.feature-style-4580 {
    margin: 10px;
    padding: 5px;
}

.feature-style-5572 {
    margin: 10px;
    padding: 5px;
}

.feature-style-9006 {
    margin: 10px;
    padding: 5px;
}

.feature-style-5369 {
    margin: 10px;
    padding: 5px;
}

.feature-style-4726 {
    margin: 10px;
    padding: 5px;
}

.feature-style-8210 {
    margin: 10px;
    padding: 5px;
}

.feature-style-9188 {
    margin: 10px;
    padding: 5px;
}

.feature-style-1489 {
    margin: 10px;
    padding: 5px;
}

.feature-style-3748 {
    margin: 10px;
    padding: 5px;
}

.feature-style-4038 {
    margin: 10px;
    padding: 5px;
}

.feature-style-5364 {
    margin: 10px;
    padding: 5px;
}

.feature-style-8665 {
    margin: 10px;
    padding: 5px;
}

.feature-style-2053 {
    margin: 10px;
    padding: 5px;
}

.feature-style-6741 {
    margin: 10px;
    padding: 5px;
}

.feature-style-3491 {
    margin: 10px;
    padding: 5px;
}
